<ion-tabs>
  <ion-content style="min-height: 89vh">
    <app-google-maps></app-google-maps>
  </ion-content>

  <ion-tab-bar class="tab-bar" slot="bottom">
    <ion-tab-button tab="ride">
      <img *ngIf="actualTab === 'ride'" src="../../assets/icon/ride-icon-active.png" height="25px" alt="" />
      <img *ngIf="actualTab !== 'ride'" src="../../assets/icon/ride-icon-inactive.png" height="27px" alt="" />
      <ion-label>Ride</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="delivery">
      <img *ngIf="actualTab !== 'delivery'" src="../../assets/icon/delivery-icon-inactive.png" height="25px" alt="" />
      <img *ngIf="actualTab === 'delivery'" src="../../assets/icon/delivery-icon-active.png" height="24px" alt="" />
      <ion-label>Delivery</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
