<ion-list lines="none" style="margin-top: 10px;">
  <ion-item>
    <div style="margin-right: 15px;">
      <img src="../../../assets/icon/work-icon.png" height="45px" alt="">
    </div>
    <ion-label class="text-item-work">
      <h2>Work</h2>
      <p>Add as favorite</p>
    </ion-label>
  </ion-item>

  <ion-item>
    <div style="margin-right: 15px;">
      <img src="../../../assets/icon/favorite-active-icon.png" height="45px" alt="">
    </div>
    <ion-label class="text-item-favorite">
      <h2>Av 9 de Julio 92</h2>
      <p>Avenida 9 de Julio 92, CABA</p>
    </ion-label>
  </ion-item>

</ion-list>
