<section class="header-nav">
  <div class="icon">
    <ion-icon (click)="closeModal()" slot="rigth" name="arrow-back"></ion-icon>
  </div>
  <article class="title">Your Cabify ride</article>
</section>

<section class="route-input">
  <ion-reorder-group [disabled]="false" (ionItemReorder)="handleReorder($any($event))">
    <ion-item lines="none" >
      <div class="custom-input">
        <div id="first-node" *ngIf="!dragging">
          <div id="first-node-line"></div>
        </div>
        <div class="icon-inside">
          <ion-reorder>
            <i> <ion-icon slot="left" name="menu"></ion-icon></i>
          </ion-reorder>
        </div>
        <input type="text" placeholder="Where should pick you..." />
      </div>
    </ion-item>

    <section *ngFor="let route of routes; let i = index">
      <ion-item lines="none">
        <div class="custom-input">
          <div id="secondary-node">
            <!-- <div id="secondary-node-line"></div> -->
          </div>
          <div class="icon-inside">
            <ion-reorder>
              <i> <ion-icon slot="left" name="menu"></ion-icon></i>
            </ion-reorder>
          </div>
          <input type="text" placeholder="Where you want to go..." />

          <button *ngIf="i <= 0" class="btn-add" class="btn-add" (click)="addRoute()">
            <div>+</div>
          </button>

          <button *ngIf="i > 0" class="btn-add" (click)="removeRoute(route)">
            <div>-</div>
          </button>
        </div>
      </ion-item>
    </section>
  </ion-reorder-group>
  <section >
    <app-routes-list></app-routes-list>
  </section>
</section>


