<ion-content>
  <section class="header-modal">
    <div class="text">
      <div class="greeting">Hello, User!</div>
      <div class="intro">Where do you want to send it?</div>
    </div>
    <div class="icon">
      <img src="../../../assets/icon/modal-delivery-icon.png" height="62px" alt="" />
    </div>
  </section>

  <div class="header-actions">
    <div class="searcher">
      <ion-button (click)="enterRoute()" color="input-gray">
        <ion-icon slot="start" name="search"></ion-icon>
        <span>&nbsp; &nbsp; Enter your route</span> </ion-button
      >
    </div>
  </div>
  <app-routes-list></app-routes-list>
</ion-content>
