<ion-content>
  <section class="header-modal">
    <div class="text">
      <div class="greeting">Hello, User!</div>
      <div class="intro">Where should we take you?</div>
    </div>
    <div class="icon">
      <img src="../../../assets/icon/modal-car-icon.png" height="50px" alt="" />
    </div>
  </section>

  <div class="header-actions">
    <div class="searcher">
      <ion-button (click)="enterRoute()" color="input-gray">
        <ion-icon slot="start" name="search"></ion-icon>
        <span>&nbsp; &nbsp; Enter your route</span> </ion-button
      >
    </div>
    <div class="reserve-btn">
      <ion-button color="input-gray">
        <ion-icon slot="start" name="calendar"></ion-icon>
        Reserve</ion-button
      >
    </div>
  </div>

  <app-routes-list></app-routes-list>
</ion-content>
